{% extends 'home/base.html' %}
{% load static %}



{% block extra_body %}
    <div class="d-flex justify-content-center mt-5 mb-5">
        <h1>Sign In Page</h1>
    </div>
	<div class="d-flex justify-content-center mt-5">
		<div class="col-md-5 list-group-item">
			<form method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<button class="btn btn-success">Signin</button>
			</form>
			<br>
			<a href="#" class="list-group-item">Forget password</a>
			<a href="{% url 'home:signup' %}" class="list-group-item">Create a new account</a>
		</div>
	</div>
{% endblock %}
