{% extends 'profile_app/profilebase.html' %}
{% load static %}

{% block title %}
    <title>My Uploads</title>


{% endblock %}

{% block UserName %}
    {{ user.name }}
{% endblock %}




{% block body %}


    <script type="text/javascript">

    function RemoveFunction(clicked){
        var temp = clicked;
        Swal.fire({
            title: 'Are you sure?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Confirm',

        }).then((result) => {
            if (result.value) {
                window.location.href = "{% url 'profile_app:my_uploads-song-remove' pk=0 %}".replace('0', temp);
            }
        });
    }

    </script>



<h1 class="d-flex justify-content-center" style="margin-top: 70px">
    My Uploads
</h1>

<div class="container d-flex justify-content-center col-md-12">

        {# Left Side Bar           START #}

        <div class="col-md-3" style="background: #fff">
            <div class=" col-md-12 embed-responsive" style="position: -webkit-sticky;position: sticky;top: 60px;overflow: visible;">
                <div class="d-flex justify-content-center" >
                    <a class="h3" href="{% url 'profile_app:my_uploads' %}" style="background: #343A40;padding: 10px;border-radius: 5px;color: #ffffff">All Albums</a>
                </div>
                <div class="col-md-12 row">
                    {% for album in albums %}


                        <div class="col-md-6" >
                        {% if album == current_album %}
                            <div class="thumbnail BOX_DESIGN" style="background: #eeeeee;padding: 10px">
                                {% if album.album_logo %}
                                    <a href="{% url 'profile_app:my_album_songs' album.id %}">
                                        <img src="{{ album.album_logo.url }}" class="embed-responsive" style="opacity: 70%" >
                                    </a>
                                {% else %}

                                    <a href="#">
                                        <img src='{% static 'resource/Oniket Prantor.jpg' %}' class="embed-responsive" style="opacity: 60%">
                                    </a>

                                {% endif %}

                                <div class="caption justify-content-center">
                                    <h6>{{ album }}</h6>
                                </div>
                            </div>
                        {% else %}
                            <div class="thumbnail">
                                {% if album.album_logo %}
                                    <a href="{% url 'profile_app:my_album_songs' album.id %}">
                                        <img src="{{ album.album_logo.url }}" class="embed-responsive"  >
                                    </a>
                                {% else %}

                                    <a href="#">
                                        <img src='{% static 'resource/Oniket Prantor.jpg' %}' class="embed-responsive">
                                    </a>

                                {% endif %}

                                <div class="caption justify-content-center">
                                    <h6>{{ album }}</h6>
                                </div>
                            </div>
                        {% endif %}
                        </div>

                    {% endfor %}
                </div>

            </div>

        <div class="container justify-content-center" style="background: #eeeeee;position: -webkit-sticky;position: sticky;top: 840px;padding-top: 5px;padding-bottom: 5px;border-radius: 5px;margin-top: 30px">
            <h4 class="font-weight-bold d-flex justify-content-center">Follow us on :</h4>
            <div class="d-flex justify-content-center">
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-fw fa-facebook-official fa-3x"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-fw fa-twitter-square fa-3x"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-fw fa-instagram fa-3x"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-fw fa-linkedin-square fa-3x"></i></a>
            </div>

        </div>


        </div>


        {# Left Side Bar           END #}


{#        Main Posts             #}
        <div class="col-md-6">

        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-center">
                <h5><strong>Alert : </strong> {{ error }}</h5>
                <button type="button" class="close" data-dismiss="alert">&times;
                </button>
            </div>
         {% endif %}


        {% if current_album %}

            <div class="d-flex" >
                <h3 style="background: #343A40;padding: 10px;border-radius: 5px;color: #ffffff">Album : {{ current_album }}</h3>
                <hr>
                <div>

                    <button onclick="RemoveAlbumFunction();" class="btn btn-outline-danger" >
                        <i class="fa fa-fw fa-trash"></i>Remove
                    </button>

                </div>

            </div>

            <script type="text/javascript">

            function RemoveAlbumFunction(){
                Swal.fire({
                    title: 'Are you sure?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Confirm',

                }).then((result) => {
                    if (result.value) {
                        window.location.href = "{% url 'profile_app:my_uploads-album-remove' pk=current_album.id %}";
                    }
                });
            }

            </script>


        {% else %}

            <div class="d-flex justify-content-center" >
                <h3 style="background: #343A40;padding: 10px;border-radius: 5px;color: #ffffff">All Songs</h3>
            </div>

        {% endif %}


        {% if songs %}

            {% for song in songs %}

            <div class="col-md-12 d-flex justify-content-center">
                <div class="postSONG col-md-12" style="background: #eeeeee">
                    <div class="d-flex align-items-center">
                        <img src="{{ song.album_id.album_logo.url }}" style="width: 30px;height: 30px;margin-right: 20px">
                        <h3>{{ song.song_title }}</h3>
                        <hr>

                        <a class="" target="_blank"  href="{{ song.song_file.url }}" style="margin-right: 10px">
                            <button type="button" class="btn btn-outline-success">
                                 <i class="fa fa-fw fa-play"></i>Play
                            </button>
                        </a>

                        <button id="{{ song.id }}" onclick="RemoveFunction(this.id);" name="remove_song" value="{{ song.id }}" class="btn btn-outline-danger" >
                            <i class="fa fa-fw fa-trash"></i>Remove
                        </button>


                    </div>
                </div>
            </div>

            {% endfor %}

        {% else %}
            <h2 class="justify-content-center d-flex" style="margin-top: 30px">No Song Found !!!</h2>
        {% endif %}



        </div>
    </div>


{% endblock %}