{% extends 'profile_app/profilebase.html' %}
{% load static %}

{% block title %}
    <title>Newsfeed</title>

<style>

    /* Carousel base class */
    .carousel {
        margin-top: 20px;
      min-height: 600px;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
      z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .carousel-item {
      min-height: 600px;
      background-color: #777;
    }
    .carousel-inner > .carousel-item > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 600px;
    }


</style>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aladin" />


{% endblock %}

{% block UserName %}
    {{ user.name }}
{% endblock %}

{% block Home %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'profile_app:profile-view' %}">
        <i class="fa fa-fw fa-user"></i>Profile <span class="sr-only">(current)</span>
    </a>
</li>
{% endblock %}




{% block body %}

    <div class="col-md-9 container justify-content-center mt-2 mb-2" style="margin-top: 100px;padding: 30px">


        <div id="myCarousel" class="carousel slide carousel-fade AlbumForm" data-ride="carousel" data-interval="2000">
            <!-- Indicators -->

            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->

            <div class="carousel-inner">

                <div class="carousel-item active">

                    <img src='{{ side_albums.0.album_logo.url }}'>

                    <div class="carousel-caption" style="background: #ffffff;opacity: 70%;border-radius: 30px">
                        <a href="{% url 'profile_app:single-album' side_albums.0.id %}" class="h1 font-weight-bold display-4" style="color: #000000;font-family: Aladin">{{ side_albums.0.album_title }}</a>
                        <h3 class="font-weight-bold" style="color: #000000;font-family: Aladin">{{ side_albums.0.artist }}</h3>
                    </div>

                </div>


                <div class="carousel-item">
                    <img src='{{ side_albums.1.album_logo.url }}'>
                    <div class="carousel-caption" style="background: #ffffff;opacity: 70%;border-radius: 30px">
                        <a href="{% url 'profile_app:single-album' side_albums.0.id %}" class="h1 font-weight-bold display-4" style="color: #000000;font-family: Aladin">{{ side_albums.1.album_title }}</a>
                        <h3 class="font-weight-bold" style="color: #000000;font-family: Aladin">{{ side_albums.1.artist }}</h3>
                    </div>
                </div>


                <div class="carousel-item">
                    <img src='{{ side_albums.2.album_logo.url }}' >
                    <div class="carousel-caption" style="background: #ffffff;opacity: 70%;border-radius: 30px">
                        <a href="{% url 'profile_app:single-album' side_albums.0.id %}" class="h1 font-weight-bold display-4" style="color: #000000;font-family: Aladin">{{ side_albums.2.album_title }}</a>
                        <h3 class="font-weight-bold" style="color: #000000;font-family: Aladin">{{ side_albums.2.artist }}</h3>
                    </div>
                </div>


            </div>


            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>



    </div>



    <div class="container d-flex justify-content-center col-md-12" style="margin-top: 40px">

    {# Left Side Bar           START #}

        <div class="col-md-3 SideBarShadow" style="background: #fff;margin-bottom: 20px">


        <h3 class="d-flex justify-content-center Text_Shadow" style="margin-top: 5px;position: -webkit-sticky;position: sticky;top: 60px;overflow: visible;background: #343A40; color: #ffffff;padding: 5px;border-radius: 3px">Friend's Albums</h3>
{#                <div class="col-md-10" >#}
                <div class="col-md-12 row"  style="position: -webkit-sticky;position: sticky;top: 110px;overflow: visible">

                    {% for album in friends_album %}
                        <div class="col-md-6 AlbumHover" >
                            <div class="thumbnail">
                                {% if album.post_album.album_logo %}
                                    <a href="{% url 'profile_app:single-album' album.post_album.id %}">
                                        <img src="{{ album.post_album.album_logo.url }}" class="embed-responsive" >
                                    </a>
                                {% else %}

                                    <a href="#">
                                        <img src='{% static 'resource/Oniket Prantor.jpg' %}' class="embed-responsive">
                                    </a>

                                {% endif %}

                                <div class="caption justify-content-center">
                                    <h6>{{ album.post_album }}</h6>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
{#        <a href="#" style="background: #eeeeee;position: -webkit-sticky;position: sticky;top: 730px;margin-left: 15px">see more...</a>#}


        <div class="container justify-content-center" style="background: #eeeeee;position: -webkit-sticky;position: sticky;top: 840px;padding-top: 5px;padding-bottom: 5px;border-radius: 5px">
            <h4 class="font-weight-bold d-flex justify-content-center">Follow us on :</h4>
            <div class="d-flex justify-content-center">
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-fw fa-facebook-official fa-3x"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-fw fa-twitter-square fa-3x"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-fw fa-instagram fa-3x"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-fw fa-linkedin-square fa-3x"></i></a>
            </div>

        </div>


        </div>


        {# Left Side Bar           END #}


{#        Main Posts             #}
        <div class="col-md-6">

             <div class="container justify-content-center">
            {% if error == "Already in Playlist" %}
                <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-center">
                    <strong>Failure : </strong> {{ error }}
                    <button type="button" class="close" data-dismiss="alert">&times;
                    </button>
                </div>
            {% elif error == "Added to Playlist" %}
                <div class="alert alert-success alert-dismissible fade show d-flex justify-content-center">
                    <strong>Success : </strong> {{ error }}
                    <button type="button" class="close" data-dismiss="alert">&times;
                    </button>
                </div>
            {% endif %}
            </div>



            {% for posts in post %}

            {% if posts.post_type == 'album' %}
                <div class="col-md-12 d-flex justify-content-center">
                <div class="post col-md-12" style="background: #fff">
                    <div class="tb" style="display: flex">
                        <div>
                            <a href="#" class="td p-p-pic"><img src='{% static 'resource/profile_photo.png' %}'></a>
                        </div>

                        <div class="td p-r-hdr">
                            <div class="p-u-info">
                                <a href="{% url 'profile_app:people-profile' posts.post_user.id %}">{{ posts.post_user.name }}</a> created an Album: <a href="{% url 'profile_app:single-album' posts.post_album.id %}"> {{ posts.post_album }}</a>
                            </div>
                            <div class="p-dt">
                                <i class="material-icons">calendar_today</i>
                                <span id="current_date">{{ posts.post_album.date_time }}</span>
                            </div>
                        </div>
                        <div class="td p-opt"><i class="material-icons">keyboard_arrow_down</i></div>
                    </div>
                    {% if posts.post_album.description %}
                    <p class="embed-responsive" style="padding-top: 10px">
                        {{ posts.post_album.description }}
                    </p>
                    {% endif %}
                    <a href="#" class="p-cnt-v" >
                        <img class="embed-responsive" style="padding-top: 10px" src='{{ posts.post_album.album_logo.url }}'>
                    </a>
                    <div>
                        <h5 style="margin-top: 10px;color: #a3a6aa"> <i class="fa fa-fw fa-thumbs-up"></i> 54</h5>

                        <div class="d-flex align-items-center" style="margin-top: 10px;">
                            <button class="btn btn-success" style="width: 100%">
                                <i class="fa fa-fw fa-thumbs-up"></i>Like
                            </button>

                        </div>
                    </div>
                </div>
                </div>

            {% elif posts.post_type == 'song' %}


                <div class="col-md-12 d-flex justify-content-center">
                <div class="post col-md-12" style="background: #fff">
                    <div class="tb" style="display: flex">
                        <div>
                            <a href="#" class="td p-p-pic"><img src='{% static 'resource/profile_photo.png' %}'></a>
                        </div>

                        <div class="td p-r-hdr">
                            <div class="p-u-info">
                                <a href="{% url 'profile_app:people-profile' posts.post_user.id %}">{{ posts.post_user.name }}</a> created a Song: <a href="#"> {{ posts.post_song }}</a>
                            </div>
                            <div class="p-dt">
                                <i class="material-icons">calendar_today</i>
                                <span id="current_date">{{ posts.post_song.date_time }}</span>
                            </div>
                        </div>
                        <div class="td p-opt"><i class="material-icons">keyboard_arrow_down</i></div>
                    </div>
                    {% if posts.post_song.description %}
                    <p class="embed-responsive" style="padding-top: 10px">
                        {{ posts.post_song.description }}
                    </p>
                    {% endif %}


                    <a href="#" class="p-cnt-v" >
                        <img class="embed-responsive" style="padding-top: 10px" src='{{ posts.post_song.album_id.album_logo.url }}'>
                    </a>


                    <audio controls style="width: 100%;margin-top: 5px">
                        <source src="{{ posts.post_song.song_file.url }}" type="audio/mpeg">
                    </audio>


                    <div>
                        <h5 style="margin-top: 10px;color: #a3a6aa"> <i class="fa fa-fw fa-thumbs-up"></i> 54</h5>

                        <div class="d-flex align-items-center" style="margin-top: 10px;">
                            <button class="btn btn-success" style="width: 50%">
                                <i class="fa fa-fw fa-thumbs-up"></i>Like
                            </button>
                            <h6 style="margin: 10px"></h6>
                            <form action="" method="POST" enctype="multipart/form-data" style="width: 50%">
                                {% csrf_token %}
                                <input style="display: none" type="text" name="song_id" value="{{ posts.post_song.id }}">

                                {% if posts.check_playlist == "1" %}
                                    <button name="add_to_playlist" value="add_to_playlist" style="width: 100%" class="btn btn-danger disabled" >
                                        <i class="fa fa-fw fa-thumbs-down"></i>Already in Playlist
                                    </button>

                                {% elif posts.check_playlist == "0" %}
                                    <button name="add_to_playlist" value="add_to_playlist" style="width: 100%" class="btn btn-success" >
                                        <i class="fa fa-fw fa-thumbs-up"></i>Add to playlist
                                    </button>

                                {% endif %}

                            </form>

                        </div>
                    </div>
                </div>
                </div>
            {% endif %}

        {% endfor %}
        </div>


    </div>




{% endblock %}