{% extends 'profile_app/profilebase.html' %}
{% load static %}

{% block title %}
    <title>Play List</title>


{% endblock %}

{% block UserName %}
    {{ user.name }}
{% endblock %}


{% block body %}
    <div class="container justify-content-center d-flex">
        <h1 class="justify-content-center" style="margin-top: 80px">Songs</h1>
    </div>
    <div class="d-flex justify-content-center col-md-9" style="margin-top: 80px">

        {% for song in songs %}
            <div class="col-md-3">
            <h2>{{ song }}</h2>
            <button class="btn btn-primary"><span>Play</span><i class="material-icons">play_arrow</i></button>
            <audio controls>
                <source src="{{ song.song_file.url }}" type="audio/mpeg">
            </audio>

            <a target="_blank" href="{{ song.audio_file.url }}">
                <button type="button" class="btn btn-success btn-xs">
                    <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                </button>
            </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}