{% extends 'profile_app/profilebase.html' %}
{% load static %}

{% block title %}
    <title>Play List</title>


{% endblock %}

{% block UserName %}
    {{ user.name }}
{% endblock %}


{% block body %}
    <div class="container justify-content-center d-flex">
        <h1 class="justify-content-center" style="margin-top: 80px">My Playlist</h1>
    </div>

    <div class="container" style="margin-top: 30px">

        <div class="row" >

        {% for song in songs %}
            <div class="col-md-3 mt-2 mb-2" >
                <div class="" style="padding: 20px;border-radius: 10px;background: #c5c5c5;">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="p" style="overflow: hidden">
                            {{ song.playlist_song.song_title }}
                        </div>

                        <div class="ml-auto">
                            <a class="" target="_blank" href="{{ song.playlist_song.song_file.url }}">
                            <button type="button" class="btn btn-success ">
                                <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                            </button>
                            </a>
                        </div><br>
                    </div>
                    <a href="#" class="p-cnt-v" >
                        <img class="embed-responsive" style="padding-top: 10px" src='{{ song.playlist_song.album_id.album_logo.url }}'>
                    </a>
                    <audio controls style="width: 100%;margin-top: 10px">
                        <source src="{{ song.playlist_song.song_file.url }}" type="audio/mpeg">
                    </audio>
                </div>

            </div>
        {% endfor %}
        {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
    </div>
    </div>


{% endblock %}