{% extends 'profile_app/profilebase.html' %}
{% load static %}

{% block title %}
    <title>profile Page</title>
{% endblock %}


{% block body %}

    <h1 class="d-flex justify-content-center" style="margin-top: 100px">Update Profile</h1>

	<div class="d-flex justify-content-center">

		<div class="col-md-8 list-group-item">
			<form method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<button class="btn btn-success">Update</button>
                <a href="{% url 'authentication:change_password' %}" class="btn btn-success">Change Password</a>
			</form>
		</div>
	</div>
{% endblock %}