{% extends 'profile/../../../profile_app/templates/profile_app/profilebase.html' %}
{% load static %}

{% block title %}
    <title>Change Password Page</title>
{% endblock %}



{% block body %}
    
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-4 list-group-item" style="margin: 20px;">
            <h6 align="center">Change Password</h6>
            <form class="sign-in-form" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update Password" class="btn btn-success btn-block">
            </form>
        </div>
    </div>
{% endblock %}