{% extends 'profile_app/profilebase.html' %}
{% load static %}

{% block title %}
    <title>Upload Page</title>
{% endblock %}



{% block body %}

    <h1 class="d-flex justify-content-center" style="margin-top: 100px">Create Album</h1>
	<div class="d-flex justify-content-center mt-5 mb-5">
		<div class="col-md-5 list-group-item">
			<form method="POST" enctype="multipart/form-data">
                <table class="d-flex justify-content-center" style="padding: 20px">
                    {% csrf_token %}
                    {{ form.as_table }}
				    <tr><td><button class="btn btn-success">Create</button></td></tr>

                </table>
			</form>
		</div>
	</div>

    <h1 class="d-flex justify-content-center" style="margin-top: 50px">Add Song</h1>
	<div class="d-flex justify-content-center mt-5 mb-5">
		<div class="col-md-5 list-group-item">
			<form method="POST" enctype="multipart/form-data">
				<table class="d-flex justify-content-center" style="padding: 20px">
                    {% csrf_token %}
                    {{ form_song.as_table }}
				    <tr><td><button class="btn btn-success">Add Song</button></td></tr>

                </table>
			</form>
		</div>
	</div>

{% endblock %}