{% extends 'profile_app/profilebase.html' %}
{% load static %}

{% block title %}
    <title>Upload Page</title>
{% endblock %}

{% block UserName %}
    {{ user.name }}
{% endblock %}

{% load crispy_forms_tags %}


{% block body %}

    {% if error_message %}
        <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-center" style="margin-top: 100px">
            <strong>Error: </strong> {{ error_message }}
            <button type="button" class="close" data-dismiss="alert">&times;
            </button>
        </div>
    {% endif %}

    <div class="d-flex justify-content-center" style="margin-top: 100px;">
        <h1 class="Text_Shadow" style="background: #343A40;padding: 10px;color: #FFFFFF;border-radius: 5px">
            Create Album
        </h1>
    </div>
	<div class="d-flex justify-content-center mt-5 mb-5">
		<div class="col-md-6 list-group-item AlbumForm" style="background: #eeeeee" >
			<form  method="POST" enctype="multipart/form-data">
                <table class="d-flex justify-content-center" style="padding: 20px">
                    {% csrf_token %}
                    {{ form | crispy }}
				    <tr><td><button class="btn btn-success" style="padding-left: 30px;padding-right: 30px">Create</button></td></tr>
                </table>
			</form>
		</div>
	</div>

    <div class="d-flex justify-content-center" style="margin-top: 50px;">
        <h1 class="Text_Shadow" style="background: #343A40;padding: 10px;color: #FFFFFF;border-radius: 5px">
            Add Song
        </h1>
    </div>
	<div class="d-flex justify-content-center mt-5 mb-5">
		<div class="col-md-6 list-group-item AlbumForm" style="background: #eeeeee;margin-bottom: 200px">
			<form method="POST" enctype="multipart/form-data">
				<table class="d-flex justify-content-center" style="padding: 20px">
                    {% csrf_token %}
                    {{ form_song | crispy }}
				    <tr><td><button class="btn btn-success" style="padding-left: 30px;padding-right: 30px">Add Song</button></td></tr>

                </table>
			</form>
		</div>
	</div>

{% endblock %}