{% extends 'search_app/searchbase.html' %}
{% load static %}

{% block title %}
    <title>Search Page</title>


{% endblock %}

{% block UserName %}
    {{ user.name }}
{% endblock %}


{% block body %}
<div>

    <div class="container d-flex justify-content-center col-md-12" style="margin-top: 80px">


        {# Left Side Bar           START #}

        <div class="col-md-3" style="background: #fff" >
            <div class="col-md-12 embed-responsive" style="position: -webkit-sticky;position: sticky;top: 100px;overflow: visible">
                 <div class="" style="background: #a2aec7;">


                     <div class="list-group-item" style="margin-left: -20px;margin-right: 5px;">
                         <div class="d-flex justify-content-center">
                             <h4>Filter Search</h4>
                         </div>

                         <form action="" method="POST" enctype="multipart/form-data">
                             {% csrf_token %}
                             <input name="search_text" id="search_text" class="form-control mr-sm-2" type="text"  aria-label="Search">
                             <br>
                             <div class="custom-control custom-checkbox mb-3">
                                 <input type="checkbox" class="custom-control-input" id="user_field" name="user_field">
                                 <label class="custom-control-label" for="user_field">Search User</label>
                             </div>

                             <div class="custom-control custom-checkbox mb-3">
                                 <input type="checkbox" class="custom-control-input" id="album_field" name="album_field">
                                 <label class="custom-control-label" for="album_field">Search Albums</label>
                             </div>

                             <div class="custom-control custom-checkbox mb-3">
                                 <input type="checkbox" class="custom-control-input" id="song_field" name="song_field">
                                 <label class="custom-control-label" for="song_field">Search Songs</label>
                             </div>

                             <button type="submit" name="search_btn" value="search_btn" class="btn btn-success" style="width: 100%">Search</button>
                         </form>

                    </div>

                 </div>
            </div>

            {# Left Side Bar           Footer #}

        <div class="container justify-content-center" style="background: #eeeeee;position: -webkit-sticky;position: sticky;top: 840px;padding-top: 5px;padding-bottom: 5px;border-radius: 5px">
            <h4 class="font-weight-bold d-flex justify-content-center">Follow us on :</h4>
            <div class="d-flex justify-content-center">
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-fw fa-facebook-official fa-3x"></i></a>
                <a href="https://twitter.com/"><i class="fa fa-fw fa-twitter-square fa-3x"></i></a>
                <a href="https://www.instagram.com/"><i class="fa fa-fw fa-instagram fa-3x"></i></a>
                <a href="https://www.linkedin.com/"><i class="fa fa-fw fa-linkedin-square fa-3x"></i></a>
            </div>

        </div>

        </div>


        {# Left Side Bar           END #}


{#        Main Part             #}
        <div class="col-md-6">

            <div class="container justify-content-center" style="margin-top: 80px">
                {% if error_message %}
                    <div class="alert alert-success alert-dismissible fade show d-flex justify-content-center" style="margin-top: 100px">
                        <strong>Success: </strong> {{ error_message }}
                        <button type="button" class="close" data-dismiss="alert">&times;
                        </button>
                    </div>
                {% endif %}
            </div>

            <h1 style="margin-bottom: 20px"> Search results </h1>

            {% if friends or USERS %}
                <h1 style=" padding: 5px;margin-bottom: 20px;background: #c3ffcb;border-radius: 10px"> Users </h1>
            {% endif %}


            {% if friends %}
                {% for people in friends %}
                    <div style="margin-left: 30px;display: flex;">

                        <div>
                            <a href="#" class="td p-p-pic"><img src='{% static 'resource/profile_photo.png' %}'></a>
                        </div>
                        <a href="{% url 'profile_app:people-profile' people.id%}"> <h4 style="margin-left: 60px;margin-top: 7px">{{ people.name }}</h4> </a><hr>
                        <button class="btn btn-dark disabled" style="display: block;alignment: right;margin-right: 20px"> Friends</button>
{#                        <form method="POST" enctype="multipart/form-data">#}
{#                            {% csrf_token %}#}
{#                            <input style="display: none" type="text" name="user_id" value="{{ people.id }}">#}
{#                            <button class="btn btn-dark disabled" style="display: block;alignment: right;margin-right: 20px"> Friends</button>#}
{##}
{#                        </form>#}

                    </div>
                {% endfor %}
{#            {% elif %}#}

            {% elif USERS %}
                {% for people in USERS %}
                    <div style="margin-left: 30px;display: flex;margin-bottom: 20px">

                        <div>
                            <a href="#" class="td p-p-pic"><img src='{% static 'resource/profile_photo.png' %}'></a>
                        </div>
                        <a href="{% url 'profile_app:people-profile' people.id%}"> <h4 style="margin-left: 60px;margin-top: 7px">{{ people.name }}</h4> </a><hr>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input style="display: none" type="text" name="user_id" value="{{ people.id }}">
                            <button type="submit" name="add_friend" value="send_request" class="btn btn-success" style="display: block;alignment: right;margin-right: 20px"> Add Friend</button>

                        </form>

                    </div>
                {% endfor %}
            {% else %}
                <p> No User found.</p>
            {% endif %}

            <br>





            {% if albums %}
                <h1 style=" padding: 5px;margin-bottom: 20px;background: #c3ffcb;border-radius: 10px"> Albums </h1>

                {% for album in albums %}
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="post col-md-12" style="background: #fff">
                        <div class="tb" style="display: flex">
                            <div>
                                <a href="#" class="td p-p-pic"><img src='{% static 'resource/profile_photo.png' %}'></a>
                            </div>

                            <div class="td p-r-hdr">
                                <div class="p-u-info">
                                    <a href="{% url 'profile_app:people-profile' album.user.id%}">{{ album.user.name }}</a> created an Album: <a href="#"> {{ album }}</a>
                                </div>
                                <div class="p-dt">
                                    <i class="material-icons">calendar_today</i>
                                    <span id="current_date">{{ album.date_time }}</span>
                                </div>
                            </div>
                            <div class="td p-opt"><i class="material-icons">keyboard_arrow_down</i></div>
                        </div>
                        {% if album.description %}
                        <p class="embed-responsive" style="padding-top: 10px">
                            {{ album.description }}
                        </p>
                        {% endif %}
{#                        <a href="#" class="p-cnt-v" style="" >#}
{#                            <img class="embed-responsive " style="padding-top: 10px" src='{{ album.album_logo.url }}'>#}
{#                        </a>#}
                        <div>
                            <div class="p-acts" style="margin-top: 10px">
                                <div class="p-act like"><i class="material-icons">thumb_up_alt</i><span>25</span></div>
                                <div class="p-act comment"><i class="material-icons">comment</i><span>1</span></div>
                                <div class="p-act share"><i class="material-icons">reply</i></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p> No Album found.</p>
            {% endif %}
            <br>


            {% if songs %}
                <h1 style=" padding: 5px;margin-bottom: 20px;background: #c3ffcb;border-radius: 10px"> Songs </h1>
                {% for song in songs %}
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="post col-md-12" style="background: #fff">
                        <div class="tb" style="display: flex">
                            <div>
                                <a href="#" class="td p-p-pic"><img src='{% static 'resource/profile_photo.png' %}'></a>
                            </div>

                            <div class="td p-r-hdr">
                                <div class="p-u-info">
                                    <a href="{% url 'profile_app:people-profile' song.user.id%}">{{ song.user.name }}</a> Uploaded a Song: <a href="#"> {{ song }}</a>
                                </div>
                                <div class="p-dt">
                                    <i class="material-icons">calendar_today</i>
                                    <span id="current_date">{{ song.date_time }}</span>
                                </div>
                            </div>
                            <div class="td p-opt"><i class="material-icons">keyboard_arrow_down</i></div>
                        </div>
                        {% if song.description %}
                        <p class="embed-responsive" style="padding-top: 10px">
                            {{ song.description }}
                        </p>
                        {% else %}
                            <p class="embed-responsive" style="padding-top: 10px">
                                No Description...
                            </p>
                        {% endif %}

                        <audio controls style="width: 100%">
                            <source src="{{ song.song_file.url }}" type="audio/mpeg">
                        </audio>

{#                        <a href="#" class="p-cnt-v" style="" >#}
{#                            <img class="embed-responsive " style="padding-top: 10px" src='{{ album.album_logo.url }}'>#}
{#                        </a>#}
                        <div>
                            <div class="p-acts" style="margin-top: 10px">
                                <div class="p-act like"><i class="material-icons">thumb_up_alt</i><span>25</span></div>
                                <div class="p-act comment"><i class="material-icons">comment</i><span>1</span></div>
                                <div class="p-act share"><i class="material-icons">reply</i></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            {% else %}
                <p> No Song found.</p>
            {% endif %}

            <br>

        </div>

    </div>


</div>

{% endblock %}