
/* Profile image header */
#profile-upper
{
    margin-top: 50px;
    position: relative;
}

#profile-d
{
    position: absolute;
    left: 60px;
    bottom: 0px;
    right: 0px;
    height: 180px;
    z-index: 2;
}

#profile-banner-image
{
    height: 480px;
    overflow: hidden;
    z-index: 1;
}

#profile-banner-image img
{
    width: 100%;
    margin-top: 0%;
}

#profile-pic
{
    width: 200px;
    height: 200px;
    border-radius: 3px;
    margin-top: 28px;
    overflow: hidden;
    box-shadow: 0 0 0 5px #fff;
    background: #370006;
}

#profile-pic img
{
    width: 100%;
}

#u-name
{
    position: absolute;
    top: 50px;
    left: 215px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

#u-fav_genre
{
    position: absolute;
    top: 100px;
    left: 215px;
    color: #fff;
    font-size: 24px;
    font-weight: normal;
}

#m-btns
{
    position: absolute;
    right: 56px;
    bottom: 20px;
    width: 211px;
}

#m-btns .td
{
    padding: 0 8px;
}

.m-btn
{
    cursor: pointer;
    color: #0e0e0e;
    font-size: 14px;
    white-space: pre;
    padding: 5px 8px 6px 8px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2px;
}

.m-btn i
{
    font-size: 16px;
    margin-right: 1px;
    vertical-align: middle;
}

.m-btn span
{
    position: relative;
    top: 1px;
}

#edit-profile
{
    position: absolute;
    right: 20px;
    bottom: 21px;
    line-height: 1;
    cursor: pointer;
}

#edit-profile i
{
    display: block;
    color: rgba(255, 255, 255, 0.7);
}

#black-grd
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 300px;
    background: linear-gradient(rgba(0,0,0,0) 71%, rgba(0,0,0, .53));
    z-index: 1;
}
/* Profile image header finished */


/* This is for removing blue color of <a> tag       START*/
.a_link a:hover, a:focus, a:active
{
    text-decoration: none;
    color: inherit;
}

#u_link
{
    text-decoration: none;
    color: inherit;
}
/* This is for removing blue color of <a> tag       END*/




/* this Section is for Buttons: Playlist, message,upload, update etc.           START*/

#l-col, #m-col, #r-col
{
    vertical-align: top;

}

#m-col
{
    padding: 0px 55px;
}

.m-mrg
{
    margin-bottom: 28px;
}

#p-tabs
{
    position: relative;
    font-size: 13px;
    color: #919191;
    text-align: center;
    padding: 13px 20px;
    margin-top: -40px;
    background-color: #fff;
    box-shadow: 0px 3px 3px #ddd;
    z-index: 3;
}

#p-tabs-m .td
{
    width: 16.6666667%;
    cursor: pointer;
    padding: 10px;
}

#p-tabs-m .td:hover
{
    color: #ffffff;
    background-color: #fe790a;
}

#p-tabs-m .td.active
{
    color: #ee6000;
}

#p-tabs-m span
{
    position: relative;
}

#p-tabs-m .td.active span:after
{
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -13px;
    height: 4px;
    background-color: #ee6000;
}

#p-tabs-m .td i
{
    display: block;
    font-size: 24px;
    margin-bottom: 5px;
}

#p-tab-m
{
    width: 1px;
    color: #ccc;
    cursor: pointer;
}

#p-tab-m i
{
    margin-right: -4px;
}

/* this Section is for Buttons: Playlist, message,upload, update etc.           END*/




/* Sample Post          Start*/

.post
{
    padding: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 5px #ddd;
    margin-bottom: 100px;
}


.p-p-pic
{
    position: absolute;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.p-p-pic img
{
    width: 100%;
    border: 0;
}

.p-r-hdr
{
    vertical-align: top;
    padding-left: 20px;
    margin-left: 40px;
}

.p-u-info
{
    color: #5a5959;
    font-size: 15px;
    margin-bottom: 7px;
}

.p-u-info a
{
    color: #4267b2;
}

.p-dt
{
    color: #a8a8a8;
    font-size: 13px;
}

.p-dt i
{
    font-size: 14px;
    margin-right: 2px;
}

.p-dt span
{
    position: relative;
    top: -2px;
}

.p-opt
{
    position: relative;
    right: -3px;
    width: 1px;
    color: #ccc;
    cursor: pointer;
    vertical-align: top;
}

.p-cnt-v
{
    display: block;
    padding: 20px -20px;
    cursor: pointer;
}

.p-acts
{
    overflow: hidden;
}

.p-act
{
    width: 80px;
    height: 24px;
    color: #a3a6aa;
    cursor: pointer;
}

.p-act span
{
    position: relative;
    top: 1px;
    width: 20px;
    font-size: 15px;
    color: #a3a6aa;
}

.like
{
    margin-right: 36px;
}

.like, .comment
{
    width: 50px;
    float: left;
}

.p-act i
{
    vertical-align: middle;
}

.like i, .comment i
{
    margin-right: 6px;
}

.share
{
    float: right;
    transform: rotateY(180deg);
    margin-right: -1px;
}

/* Sticky side bar */
